body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Evita lo scroll */
}

#map {
    height: calc(100% - 40px);
    /* Altezza mappa - altezza footer */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.popup-container {
    padding: 10px;
}

.popup-content {
    display: flex;
    justify-content: space-between;
}

#read,
#speak,
#stop {
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#read:hover,
#speak:hover,
#stop:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#popupText {
    margin-top: 10px;
    display: none;
}

#hide {
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid #28a745;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

#hide:hover {
    background-color: #218838;
    border-color: #218838;
}

#yes,
#no {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#yes:hover {
    background-color: #218838;
}

#no:hover {
    background-color: red;
}

#yes:focus,
#no:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}


/* Rendi il testo dei popup un po' più grande */

.leaflet-popup-content {
    font-size: 16px;
}


/* Aggiungi spazio tra il testo e i pulsanti "Si" e "No" */

#yes,
#no {
    margin-top: 10px;
}

#footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

footer a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

footer a:hover {
    text-decoration: underline;
}

#locate-button {
    position: absolute;
    top: 2%;
    right: 2%;
    /* Impostazione predefinita per schermi di computer */
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    /* Aggiunge animazione pulsante */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.awesome i {
    font-size: 200%;
    /* Aumenta le dimensioni dell'icona dell'occhio al 200% */
}

#locate-button:hover {
    background-color: #f0f0f0;
}